
<mat-card class="main-card">
  <mat-card-title>{{gasolinera?.localidad}} || {{gasolinera?.localidad}}</mat-card-title>
  <mat-card-subtitle>{{gasolinera?.direccion}}2</mat-card-subtitle>
  <mat-card-subtitle>{{gasolinera?.latitud}}2</mat-card-subtitle>
  <mat-card-content>
    <h3>Precios:</h3>
    <p>
      Gasoleo A: {{gasolinera?.precioGasoleoA}} € <br>
      Gasoleo B: {{gasolinera?.precioGasoleoB}} € <br>
      Gasolina 95: {{gasolinera?.precioGasolina95E5}} € <br>
    </p>


  </mat-card-content>
</mat-card>
