
img {
    border-radius: 10px;
    object-fit: cover;
    width: 220px;
}
.progreso svg{
    max-width:20px ;
}
.mat-icon {
 font-size: 35px;
}
.title{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

circle-progress{
    position:absolute;
    margin-top:-380px;
}




