.example-card{
    min-width: 400px;
    background-color: rgb(114, 114, 114);
}
img{
    max-height: 250px;
}
.centrado{
    text-align: center;
}
.title{
    text-align: center;
    align-items: center;
}
.container{
    background-color: aliceblue;
}
.body{
    background-color: black;
}
