
  <div>
    <h3>{{movie?.title}} {{movie?.id}}</h3>
  </div>
  <div>
    <mat-form-field >
      <mat-label>Lista de peliculas</mat-label>
      <mat-select [(ngModel)]="selectedListId" >
        <mat-option *ngFor="let list of Lists" [value]="list.id"   >{{list?.name}} {{list?.item_count}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
      <h3>Crear lista</h3>
      <mat-label for="name">Nombre</mat-label>
      <input matInput type="text" placeholder="Nombre de a lista" id="name" [(ngModel)]="listaNueva.name" name="name">
      <mat-label for="description">Descripción</mat-label>
      <textarea matInput type="textarea" placeholder="Describe la lista..." id="description" [(ngModel)]="listaNueva.description" name="description"></textarea>
  </div>
    <!--
      <div formGroupName="formAddList">
    <h3>Crear lista</h3>
    <mat-label for="name">Nombre</mat-label>
    <input matInput type="text" placeholder="Nombre de a lista" id="name"  formControlName="name">
    <mat-label for="description">Descripción</mat-label>
    <textarea matInput type="textarea" placeholder="Describe la lista..." id="description"  formControlName="description"></textarea>
  </div>
  -->
  <div >
    <button  mat-raised-button color="accent" (click)="addMovieList()" type="submit"  > Guardar lista</button>
    <button  mat-raised-button color="accent" (click)="addNewList()" type="submit"  >  Crear lista</button>
  </div>

