
<div fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="20px grid" fxFlexFill >
  <div>
    <h3>{{movie?.title}} {{movie?.id}}</h3>
  </div>
  <div>
    <mat-form-field >
      <mat-label>Lista de peliculas</mat-label>
      <mat-select [(ngModel)]="selectedListId" >
        <mat-option *ngFor="let list of Lists" [value]="list.id"  (click)="addMovieList()" >{{list?.name}} {{list?.item_count}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
      <h3>Crear lista</h3>
      <mat-label for="Nombre">Nombre</mat-label>
      <input matInput type="text" placeholder="Nombre de a lista" id="nameNew" [(ngModel)]="listaNueva.name" name="nameNew">
      <mat-label for="language">Idioma</mat-label>
      <input matInput type="text" placeholder="Idioma" id="language" [(ngModel)]="listaNueva.language" name="language">
      <mat-label for="description">Descripción</mat-label>
      <input matInput type="textarea" placeholder="Describe la lista..." id="description" [(ngModel)]="listaNueva.description" name="description">

  </div>
  <div >
    <button  mat-raised-button color="accent" (click)="onSubmit()" type="submit" >  Agregar a lista</button>
    <button  mat-raised-button color="accent" (click)="addNewList()" type="submit" (click)="onSubmit()">  Agregar a nueva lista</button>
  </div>
</div>

