<div class="color">
  <!--Option/select Provincias-->
<mat-form-field appearance="fill">
  <mat-label>Provincias</mat-label>
  <mat-select  [(ngModel)]="idProvincia" name="provincia" >   <!--[formControl]="generos" -->
    <mat-option *ngFor="let provincia of provincias" [value]="provincia.IDPovincia">{{provincia?.Provincia}}</mat-option>
  </mat-select>
</mat-form-field>


  <!--Precio Min-->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio Min</mat-label>
    <input matInput type="number" placeholder="0"step="0.1"  [(ngModel)]="precioMin">
    <span matSuffix>€</span>
  </mat-form-field>

  <!--Precio Max-->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio Max</mat-label>
    <input matInput type="number" placeholder="0" step="0.1" [(ngModel)]="precioMax">
    <span matSuffix>€</span>
  </mat-form-field>

</div>

  <button mat-flat-button color="primary" (click)="filterGasolinera()" >Buscar</button>

<div fxLayout="row wrap" fxLayout.sm="colunm" fxLayoutAlign="start start" fxLayoutAlign.sm="center center" fxLayoutGap="20px grid" fxFlexFill >
  <app-gasolinera-item *ngFor="let g of gasolineraList" [gasolineraInput]="g"></app-gasolinera-item>
</div>


<!--

    <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Precio Min</mat-label>
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="0.1"
      step="0.1"
      min="0"
      max="5"
      aria-label="units"
      [value]="precioMax">
      </mat-slider>
  </mat-form-field>
-->
