<div >
  <mat-label >Genero: </mat-label >
    <br>
  <mat-radio-group  [(ngModel)]="selectedGender"  >
    <mat-radio-button [value]="generos[0]" >Femenino</mat-radio-button>
    <mat-radio-button [value]="generos[1]" >Masculino</mat-radio-button>
    <mat-radio-button [value]="generos[2]" >Sin genero</mat-radio-button>
  </mat-radio-group>
  <button mat-flat-button color="primary" (click)="filterPeople()" >Buscar</button>
</div>
<div class="contenedor">
  <app-people-item *ngFor="let p of personFilterList; let i = index" [personInput]="p"></app-people-item>
</div>
<div class="center">
  <button mat-raised-button [routerLink]="['/planets/']" >Lista de planetas</button>
</div>


