
<mat-card class="example-card" >
    <mat-card-title-group >
      <mat-card-title class="letra">{{"Nombre: "+people?.name}}</mat-card-title>
      <mat-card-subtitle >
        {{"Departamento: "+people?.known_for_department}}

      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content class="flex-container">
      <hr>
      <div class="image">
        <img [src]="getPeopleImagenUrl(people)" >
      </div>
    </mat-card-content>

      <a [routerLink]="['/people-detail', people?.id]">
        <mat-icon>search</mat-icon>
      </a>

  </mat-card>



