<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="push" class="side-menu">
    <h1>Menu</h1>
    <mat-list role="list">
      <mat-list-item role="listitem"><a [routerLink]="['']"routerLinkActive="router-link-active" (click)="sidenav.toggle()"><mat-icon class="icon-menu" >local_gas_station</mat-icon>Gasolineras</a></mat-list-item>
      <mat-list-item role="listitem"><a [routerLink]="['/favoritas']" routerLinkActive="router-link-active" (click)="sidenav.toggle()"><mat-icon class="icon-menu">favorite_border</mat-icon>Favoritas</a></mat-list-item>
      <mat-list-item role="listitem"><a [routerLink]="['/listas']" routerLinkActive="router-link-active" (click)="sidenav.toggle()"><mat-icon class="icon-menu">list_alt</mat-icon>Listas</a></mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item role="listitem" ><a (click)="loginOut()"><mat-icon class="sidenav-icon">logout</mat-icon> Salir</a></mat-list-item>
  </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <button mat-button (click)="sidenav.toggle()">
          <mat-icon >menu</mat-icon>
      </button>
      <span>GasApp</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/favoritas']" routerLinkActive="router-link-active" >
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-button class="example-icon" [routerLink]="['/cuenta']" routerLinkActive="router-link-active" >
        <img [src]="getUserImg()" alt="Foto perfil" width="30px">
        <span> {{getUserEmail()}}</span>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" (click)="loginOut()" >
        <mat-icon>power_settings_new</mat-icon>
      </button>

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
